.content {
  margin-top: 8%;
}

html {
  text-align: center;
  background-color: #2a2438;
}

.App {
  padding-top: 10%;
  padding-left: 25%;
  width: 50%;
  height: 100%;
  color: white;

  h1 {
    font-size: 3rem;
    margin-top: 0;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;  }

  .keyboard {
    background-color: #352f44;
    width: 50%;
    left: 25%;
    bottom: 0;
    position: absolute;
    padding: 2rem;
    height: fit-content;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    button {
      width: 4rem !important;
      height: 4rem !important;
      font-size: 3rem;
      margin: 2px !important;
      border-radius: 1rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }

  input {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 4px;
    text-align: center;
  }

  button {
    width: fit-content;
    padding: 5px;
    border-radius: 0.5rem;
    background-color: #5c5470;
    color: #ffffff;
    border: none;
    border: 2px solid black;
    font: inherit;
    font-size: 2rem;
    cursor: pointer;
    outline: inherit;
    font-family: 'Courier New', Courier, monospace;

    @media screen and (max-width: 700px) {
      font-size: 1rem;
  }
  }

  button:hover{
    background-color:#c0b6db;
    color: black;
  }

  button:focus{
      background-color:#dbd8e3;
      color: black;
  }

}

.guessTable {
  width: 100%;
  display: flex;
  flex-basis: auto;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 10px;
  align-items: center;
  tr td {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border-radius: 20%;
  }
}

.absent {
  width: 4rem;
  font-size: 3rem;
  background-color: rgb(51, 51, 51) !important;
  height: 4rem;
  margin-right: 10px;
}

.correct {
  width: 4rem;
  font-size: 3rem;
  background-color: rgb(3, 99, 3) !important;
  height: 4rem;
  margin-right: 10px;
}

.present {
  width: 4rem;
  font-size: 3rem;
  background-color: rgb(255, 153, 0) !important;
  height: 4rem;
  margin-right: 10px;
}